<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
            <a class="navbar-brand" href="#" th:href="@{/posts}">All posts</a>
            <a class="navbar-brand" href="#" th:if="${isAuth}" th:href="@{/posts/create}">Create new post</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#" th:unless="${isAuth}" th:href="@{/login}">Sign In</a>
            <a class="btn btn-outline-primary" href="#" th:unless="${isAuth}" th:href="@{/register}">Sign Up</a>
            <a class="btn btn-primary" href="#" th:if="${isAuth}" th:href="@{/logout}">Logout</a>
            <a class="btn btn-primary" href="#" th:if="${isAuth}"
               th:href="@{/profile/{username}(username=${session.user.username})}">My Profile</a>
        </div>
    </div>
</nav>
</body>
</html>