<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources::resources">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="/fragments/navbar.html::navbar"></nav>

<div>
    <form style="margin-top: 10px" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${postFilterDto}" method="post">
        <table style="width: 95%;">
            <tr>
                <th>
                    <h1 style="margin-left: 5%" class="input-group-text float-left ">Search in Posts</h1>
                    <input type="text" class="form-control-input-search " th:field="*{search}" placeholder="Search"
                           aria-label="Post search"
                           aria-describedby="basic-addon1">
                </th>
                <th>
                    <div class="col-3-sortPost-bar">
                        <select style="margin-left: 15%;" class="form-select float-left"
                                aria-label="Default select example" th:field="*{sortPost}">
                            <option th:each="sortPost : ${sortPost}"
                                    th:value="${sortPost.toString()}"
                                    th:text="${sortPost.toString()}">Sort Order
                            </option>
                        </select>
                    </div>
                </th>
                <th>
                    <input type="submit" class="btn btn-primary btn-lg" value="Search">
                </th>
            </tr>
        </table>
    </form>
</div>

<div class="text-center text-black" style="margin-top: 30px">
    <h5>Posts:</h5>
</div>
<main class="flex-fill">
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Creator</th>
        <th scope="col">Creation Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(posts)}">
        <td colspan="7">No Records found.</td>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${posts.indexOf(post) + 1}"></td>
        <td><a th:href="@{/posts/{id}(id=${post.id})}"> <span th:text="${post.title}">Title</span></a></td>
        <td><a th:href="@{/profile/{username}(username=${post.creator.username})}"><span
                th:text="${post.creator.username}">Creator</span></a></td>
        <td th:text="${post.dateToString()}"></td>
    </tr>
    </tbody>
</table>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
<div th:replace="/fragments/resources.html::bootstrap-js"></div>
</body>
</html>