<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/resources :: resources">
    <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="d-flex vh-100 flex-column">
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead flex-fill">
    <div class="container position-relative">
        <div class="row gutters-sm">
            <div class="col-md-6 offset-3 ">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method="post" th:object="${update}" enctype="multipart/form-data">
                            <div class="col-md-12 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                                 th:src="${update.getAvatarPath()}"
                                                 alt="photo" class="rounded-circle img-fluid"
                                                 style="width: 150px;">
                                        </div>
                                        <div th:if="${update.isAdmin()}" class="text-danger text-center">
                                            <h6 class="mb-0">Administrator</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-black">Email</h6>
                                </div>
                                <input type="text" th:field="*{email}" class=" col-sm-6 text-black">
                                <label class="error text-danger" th:errors="*{email}">Email error
                                    placeholder</label>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-black">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <input type="text" th:field="*{firstName}" class="col-sm-6 text-black">
                                <label class="error text-danger" th:errors="*{firstName}">First name error
                                    placeholder</label>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-black">Last Name</h6>
                                </div>
                                <input type="text" th:field="*{lastName}" class="col-sm-6 text-black">
                                <label class="error text-danger" th:errors="*{lastName}">Last name error
                                    placeholder</label>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-black">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <input th:if="${session.user.isAdmin()}" type="text" th:field="*{phone}"
                                       class="col-sm-6 text-black">
                                <label th:if="${session.user.isAdmin()}" class="error text-danger" th:errors="*{phone}">First
                                    name error
                                    placeholder</label>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-black">Profile photo</h6>
                                </div>
                                <input type="file" name="image" accept="image/png   , image/jpeg"
                                       class="col-sm-6 text-secondary"/>
                            </div>
                            <hr>
                            <input class="btn btn-primary " type="submit" value="Save">
                            <a href="#" th:href="@{/profile/{username}(username = ${session.user.username})}"
                               class="btn btn-outline-primary">Cancel</a>
                            <a href="#" th:href="@{/profile/{username}(username = ${session.user.username})}"
                               class="btn btn-primary float-end">Change Password</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>