<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources::resources">
    <meta charset="UTF-8">
    <title th:text="${post.title}">Edit Post</title>

</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="/fragments/navbar.html::navbar"></nav>
<main class="d-flex flex-column container main-content-area p-5">
    <h2 th:if="${#httpServletRequest.requestURI.toString().endsWith('create')}">Create post</h2>
    <h2 th:if="${#httpServletRequest.requestURI.toString().endsWith('edit')}">Edit post</h2>

    <form class="compose-container" th:object="${post}" th:action="@{__${#httpServletRequest.requestURI}__}"
          method="post">
        <label style="width:100%">
            <div class="mb-3">
            <h4>Title</h4>
            <input type="text" class="title-input" placeholder="Write something..." th:field="*{title}">
                <label class="error text-danger" th:errors="*{title}">Error
                    placeholder</label>
            </div>
            <div class="mb-3">
            <h4>Content</h4>
            <textarea class="reply-textbox" placeholder="Write something..." th:field="*{content}"></textarea>
                <label class="error text-danger" th:errors="*{content}">Error
                    placeholder</label>
            </div>
            <button class="btn btn-primary"
                    type="submit" th:text="#{save.edit.btn}"></button>

            <a th:href="@{/posts/{id}(id=${post.id})}">
                <button type="button" class="btn btn-outline-primary cancel-compose ms-2" th:text="Cancel"></button>
            </a>
        </label>
    </form>
</main>
<footer th:replace="/fragments/footer::footer"></footer>
<div th:replace="/fragments/resources.html::bootstrap-js"></div>
</body>
</html>