<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources::resources">
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <title>Web Dev Forum</title>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar.html::navbar"></nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div>
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Every developer has a tab </h1>
                    <h1 class="mb-5"> open to Our Forum </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="text-center text-black" style="margin-top: 100px">
            <h1>This forum will help you to:</h1>
            <div class="row g-0">>
                <div class="col-lg-12 order-lg-1 my-auto showcase-text float-left">
                    <div class="col-lg-6">
                        <h2>Start a discussion</h2>
                        <p class="lead mb-0">Create a post about a specific problem</p>
                        <p class="lead m-0"> and get a variety of solutions from our</p>
                        <p class="lead m-0">large community of users</p>
                        <a class="btn btn-primary btn-lg" href="#" th:unless="${isAuth}" th:href="@{/register}">Register
                            now</a>
                        <a class="btn btn-primary btn-lg" href="#" th:if="${isAuth  && !loggedUser.isBlocked()}"
                           th:href="@{/posts/create}">Create a
                            new post</a>
                    </div>
                    <div class="col-lg-6 float-end">
                        <h2>Big community of Users</h2>
                        <p class="lead mb-0">Help engineers be more efficient</p>
                        <p class="lead mb-0">and streamline knowledge sharing using a</p>
                        <p class="lead mb-0">tool they already love and trust.</p>
                        <h3>All users:</h3>
                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" th:text="${usersCount}"></h1>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-12 order-lg-1 my-auto showcase-text float-left">
                    <div class="col-lg-6">
                        <h2>We have a large amount of Discussions</h2>
                        <p class="lead mb-0">In our forum you can find more than one or two solutions
                            to your problem. Register and go check out our posts section</p>
                    </div>
                    <div class="col-lg-6 float-end">
                        <h3>All posts:</h3>
                        <h1 class="h5 mb-0 font-weight-bold text-gray-800" th:text="${postsCount}"></h1>
                        <a class="btn btn-primary btn-lg" th:href="@{/posts}">See all Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Table with posts-->
<div class="container">
    <button onclick="showCommented()" class="btn btn-primary text-center me-x2">Show Most Commented</button>
    <button onclick="showLatest()" class="btn btn-primary text-center">Show Latest</button>
</div>
<div id="commentedTen" class="text-center text-black top10-posts active vw-100" style="margin-top: 30px">
    <h5>Top 10 Most commented posts:</h5>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Creator</th>
            <th scope="col">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(mostCommentedPosts)}">
            <td colspan="7">No Records found.</td>
        </tr>
        <tr th:each="post : ${mostCommentedPosts}">
            <td th:text="${mostCommentedPosts.indexOf(post) + 1}"></td>
            <td><a th:href="@{/posts/{id}(id=${post.id})}"> <span th:text="${post.title}">Title</span></a></td>
            <td><a th:href="@{/profile/{username}(username=${post.creator.username})}"><span
                    th:text="${post.creator.username}">Creator</span></a></td>
            <td th:text="${post.dateToString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="latestTen" class="text-center text-black top10-posts vw-100" style="margin-top: 30px">
    <h5>10 recently created posts:</h5>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Creator</th>
            <th scope="col">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(lastCreatedPosts)}">
            <td colspan="7">No Records found.</td>
        </tr>
        <tr th:each="post : ${lastCreatedPosts}">
            <td th:text="${lastCreatedPosts.indexOf(post) + 1}"></td>
            <td><a th:href="@{/posts/{id}(id=${post.id})}"> <span th:text="${post.title}">Title</span></a></td>
            <td><a th:href="@{/profile/{username}(username=${post.creator.username})}"><span
                    th:text="${post.creator.username}">Creator</span></a></td>
            <td th:text="${post.dateToString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4" href="#" th:unless="${isAuth}">Ready to get started? Sign up now!
                    <a class="btn btn-primary btn-lg" th:href="@{/register}">Register now</a>
                </h2>
                <a class="btn btn-primary" href="#" th:if="${isAuth && session.user.isAdmin()}"
                   th:href="@{/users}">See all Users</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer th:replace="/fragments/footer.html::footer"></footer>
<div th:replace="/fragments/resources.html::bootstrap-js"></div>
</body>
</html>
