<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: resources">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="/fragments/navbar :: navbar"></nav>
<header class="masthead flex-fill">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Sign in</h1>
                    <form action="#" th:action="@{/login}" th:object="${login}" method="post">
                        <label th:text="#{user.label.username}">Username</label>
                        <br/>
                        <label><input type="text" th:field="*{username}"/></label>
                        <br/>
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                        <br/>
                        <br/>
                        <label th:text="#{user.label.password}">Password</label>
                        <br/>
                        <label><input type="password" th:field="*{password}"/></label>
                        <br/>
                        <label class="error" th:errors="*{password}">Password error placeholder</label>
                        <br/>
                        <br/>
                        <input class="btn btn-primary" type="submit" value="Login"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="fragments/footer :: footer" class="footer bg-light"></footer>
</body>
</html>