<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources">
    <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="d-flex vh-100 flex-column">
<nav th:replace="fragments/navbar :: navbar"></nav>
<header class="masthead flex-fill">
    <div class="container position-relative">
        <div th:object="${profile}">
            <div class="row gutters-sm">
                <div class="col-md-6 offset-3 ">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="col-md-12 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                                 th:src="${profile.getAvatarPath()}"
                                                 alt="photo" class="rounded-circle" style="width: 150px;">
                                        </div>
                                        <div th:if="${profile.isAdmin()}" class="text-danger text-center">
                                            <h6 class="mb-0">Administrator</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-black">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${profile.email}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-black">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary " th:text="${profile.firstName}">
                                    Name
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0 text-black">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${profile.lastName}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-black">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary " th:if="${profile.phone !=null}"
                                     th:text="${profile.phone.phoneNumber}">
                                    Phone
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 display-6">
                                    <a class="btn btn-primary"
                                       th:href="@{/profile/{username}/edit(username=${profile.username})}"
                                       th:if="${isAuth && session.user.id == profile.id}">Edit</a>

                                    <a class="btn btn-primary " target="__blank"
                                       th:href="@{/posts/user/{username}(username = ${profile.getUsername()})}">Posts</a>
                                    <!--                                    <a class="btn btn-primary " target="__blank"-->
                                    <!--                                       th:href="@{/comments}">Comments</a>-->
                                    <form class="form-check-inline" action="#"
                                          th:action="@{/profile/{username}/blocked(username= ${profile.username})}"
                                          th:object="${profile}" method="post"
                                          th:if="${isAuth && session.user.isAdmin() && !profile.isAdmin()}">
                                        <input class="btn btn-danger" type="submit"
                                               value="Block"
                                               th:unless="${profile.isBlocked()}"
                                               th:href="@{/profile/{username}/blocked(username= ${profile.username})}">
                                        <input class="btn btn-success" type="submit"
                                               value="Unblock"
                                               th:if="${profile.isBlocked()}"
                                               th:href="@{/profile/{username}/blocked(username = ${profile.username})}">
                                    </form>
                                    <div class="col float-end">
                                        <form class="form-check-inline" action="#"
                                              th:action="@{/profile/{username}/promote(username= ${profile.username})}"
                                              th:object="${profile}" method="post"
                                              th:if="${isAuth && session.user.isAdmin()}">
                                            <input class="btn btn-dark" type="submit"
                                                   value="Promote"
                                                   th:unless="${profile.isAdmin()}"
                                                   th:href="@{/profile/{username}/promote(username = ${profile.username})}">
                                        </form>
                                        <form class="form-check-inline" action="#"
                                              th:action="@{/profile/{username}/demote(username= ${profile.username})}"
                                              th:object="${profile}" method="post"
                                              th:if="${isAuth && session.user.isAdmin()}">

                                            <input class="btn btn-outline-dark" type="submit"
                                                   value="Demote"
                                                   style="color: black"
                                                   th:if="${profile.isAdmin()}"
                                                   th:href="@{/profile/{username}/demote(username = ${profile.username})}">
                                        </form>
                                        <form class="form-check-inline" action="#"
                                              th:action="@{/profile/{username}/delete(username= ${profile.username})}"
                                              th:object="${profile}" method="post"
                                              th:if="${isAuth && profile.id == session.user.id}">

                                            <input class="btn btn-outline-danger" type="submit"
                                                   value="Delete"
                                                   th:href="@{/profile/{username}/delete(username = ${profile.username})}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>