<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="d-flex vh-100 flex-column">
<nav th:replace="/fragments/navbar::navbar"></nav>
<header class="masthead flex-fill">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Register</h1>
                    <form action="#" th:action="@{/register}" th:object="${register}" method="post">
                        <label th:text="#{user.label.username}">Username</label>
                        <br/>
                        <input type="text" th:field="*{username}"/>
                        <br/>
                        <label class="error" th:errors="*{username}">Username error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.password}">Password</label>
                        <br/>
                        <input type="password" th:field="*{password}"/>
                        <br/>
                        <label class="error" th:errors="*{password}">Password error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
                        <br/>
                        <input type="password" th:field="*{passwordConfirm}"/>
                        <br/>
                        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.first-name}">First Name</label>
                        <br/>
                        <input type="text" th:field="*{firstName}"/>
                        <br/>
                        <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.last-name}">Last Name</label>
                        <br/>
                        <input type="text" th:field="*{lastName}"/>
                        <br/>
                        <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
                        <br/><br/>

                        <label th:text="#{user.label.email}">Email</label>
                        <br/>
                        <input type="email" th:field="*{email}"/>
                        <br/>
                        <label class="error" th:errors="*{email}">Email error placeholder</label>
                        <br/><br/>

                        <input class="btn btn-primary" type="submit" value="Sign up"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>