<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources::resources">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body class="d-flex flex-column vh-100">
<nav th:replace="/fragments/navbar.html::navbar"></nav>

<div>
    <form style="margin-top: 10px" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${userFilterDto}" method="post">
        <table style="width: 95%;">
            <tr>
                <th>
                    <h1 style="margin-left: 5%" class="input-group-text float-left ">Search for User</h1>
                    <input type="text" class="form-control-input-search " th:field="*{search}" placeholder="Search"
                           aria-label="Post search"
                           aria-describedby="basic-addon1">
                </th>
                <th>
                    <div class="col-3-sortPost-bar">
                        <select style="margin-left: 15%;" class="form-select float-left"
                                aria-label="Default select example" th:field="*{sortUser}">
                            <option th:each="sortUser : ${sortUsers}"
                                    th:value="${sortUser.toString()}"
                                    th:text="${sortUser.toString()}">Sort Order
                            </option>
                        </select>
                    </div>
                </th>
                <th>
                    <input type="submit" class="btn btn-primary btn-lg" value="Search">
                </th>
            </tr>
        </table>
    </form>
</div>


<div class="text-center text-black" style="margin-top: 30px">
    <h5>Users:</h5>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Created date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="7">No Records found.</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/profile/{username}(username=${user.username})}">
            <img th:src="${user.avatarPath}"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
                 th:height="50px" th:width="50px" alt="profile-photo">
        </a></td>
        <td><a th:href="@{/profile/{username}(username=${user.username})}"><span th:text="${user.username}">Username</span></a></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.dateToString()}"></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/fragments/footer::footer"></footer>
<div th:replace="/fragments/resources.html::bootstrap-js"></div>
</body>
</html>